<%- include('./partials/header') %>

  <h1>Flavor Selector</h1>

  <% let listOfFlavors = [] %>

  <% iceCreams.forEach(function(i) { %>
    <% if (!listOfFlavors.includes(i.flavorName)) { %>
      <a href="/<%= i._id %>">
        <div class='flavor-selector'>
            <img src='<%= i.flavorImage %>'>
            <p><%= i.flavorName %></p>
        </div>
      </a>
      <% listOfFlavors.push(i.flavorName); %>
    <% } %>
    <% }); %>

</body>
</html>