<%- include('./partials/header') %>

<main>

  <h1 id='ice-creams-page-title'><%= iceCreams[0].flavorName %> Ice Creams</h1>

<!-- Slider main container -->
<div class="swiper-container">
<div id='ice-cream-flex' class="swiper-wrapper">
  <% iceCreams.forEach(function(i) { %>
    <%- include('./partials/individual-ice-cream', { i: i}) %>
  <% }); %>
</div>
<!-- Add Pagination -->
<div class="swiper-pagination"></div>
</div>

</main>

<%- include('./partials/footer') %>