<%- include('./partials/header') %>

<main>

<h1>Ice Cream Selector</h1>

<form action="/flavors/" method="GET">
  <button class='main-selector' type='submit'style="background-image: url('https://tarateaspoon.com/wp-content/uploads/2017/06/03_Ice_Cream_Group_01_017-1-e1498669461109.jpg')">SELECT FLAVOR</button>
</form>

<form action="/brands/" method="GET">
  <button class='main-selector' type='submit'style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/indextemplate-icecream-1526322227.jpg')">SELECT BRAND</button>
</form>

</main>

<%- include('./partials/footer') %>