* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    background-color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

nav a {
    align-self: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 16px 10px;
    color: grey;
    margin: 0;
}

#user_nav {
    text-align: right;
    margin-top: -5px;
    width: 70%;
    display: inline;
}

i {
    font-size: 16px !important;
    margin: 3px;
}

.user_photo {
    position: absolute;
    margin-left: -50px;
    margin-top: -7px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

#user-ice-creams {
    padding-left: 60px;
}

nav a:hover {
    color: black;
    background: rgba(50, 50, 50, 0.3);
}

.main-selector, .flavor-selector {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.main-selector {
    font-family: 'Bangers', cursive;
    width: 75vw;
    height: 400px;
    color: rgb(255, 252, 103);
    -webkit-text-stroke: 1px rgb(0, 0, 0, 1);
    font-weight: 900;
    text-shadow: 3px 2px black;
    margin: 10px;
    font-size: 100px;
    border: 2px solid grey;
}

.flavor-selector {
    font-family: 'Bangers', cursive;
    height: 25vh;
    width: 350px;
    color: rgb(41, 40, 40);
    text-shadow: 3px 2px azure;
    margin: 20px;
    font-size: 60px;
    border: 2px solid black;
}

.main-selector:hover {
    width: 77vw;
    color: rgb(255, 200, 98);
    text-shadow: 5px 5px black;
    font-weight: 400;
    border: 3px solid black;
    transition: all 0.2s;
}

.flavor-selector:hover {
    height: 26vh;
    color: rgb(199, 120, 241);
    text-shadow: 3px 2px black;
    -webkit-text-stroke: 1px rgb(0, 0, 0, 0.5);
    font-weight: 800;
    transition: all 0.2s;
    border: 3px solid black;
}

.flavor-selector:focus {
    border: 3px solid blue;
    font-weight: 800;
    color: rgb(199, 120, 241);
    text-shadow: 3px 2px black;
}

.flavor-selector:active {
    border: 3px solid blue;
    text-shadow: 3px 2px black;
    color: rgb(255, 255, 255);
}

.ice-cream {
    text-align: center;
    height: 25vh;
    margin-bottom: 20px;
}

.ice-cream>img {
    height: 25vh;
    object-fit: contain;
}

#new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *, #add-review-form *, #add-performer-form * {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

#new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
}

#new-form label {
    text-align: right;
}

#selector-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 45px;
}

.pls-login {
    font-size: 30px;
}

#individual-ice-cream {
    border: 5px solid rgba(56, 168, 233);
    border-radius: 15px;
    margin: 5px;
    width: 400px;
    min-height: 705px;
    background: radial-gradient(rgb(150, 150, 150), rgba(0, 24, 92, 0.85));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#individual-ice-cream img {
    border: 2px solid rgb(255, 200, 98);
    border-radius: 10px;
    margin: 10px 0;
    max-width: 90%;
    object-fit: cover;
}

#name {
    font-family: 'Bangers', cursive;
    font-size: 35px;
    font-weight: 100;
    text-shadow: 3px 2px black;
    margin: 30px;
}

#description, #rating, #review, #user-rating {
    text-align: left;
    margin: 20px;
}

#individual-ice-cream span {
    text-decoration: underline;
    font-weight: 800;
}

#edit {
    text-align: right;
    margin-right: 20px;
}

#edit a {
    color: rgb(199, 120, 241)
}

#edit-review {
    font-size: 12px;
    text-align: right;
    margin: 10px 20px -23px 0;
}

#edit-review a {
    color: grey;
}

#addReviewBtn {
    margin: 20px;
}

#rating-form, #avg-rating, #reviewer-rating {
    display: flex;
    flex-direction: row-reverse;
}

#avg-rating, #reviewer-rating {
    justify-content: flex-end;
}

#reviewer-rating {
    margin-left: -22px;
}

#avg-rating i:not(.filled), #reviewer-rating i:not(.filled) {
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0, 0.3);
}

#rating-form {
    justify-content: center;
    margin-top: -42px;
}

#rating-form button {
    background: none;
    border: none;
    outline: none;
}

button i {
    width: 20px;
    height: 20px;
    font-size: 25px !important;
    margin: 0px;
    padding: 0;
    transition: all 0.1s ease-in;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0, 0.5);
    outline: black;
}

button:hover i, button:hover ~ button i{
    color: gold;
}

.filled {
    color: gold;
}

#rating-form:hover .filled {
    color: transparent;
}

#rating-form:hover > button:hover .filled, #rating-form:hover > button:hover ~ button .filled{
    color: gold;
}

textarea {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: left;
    margin-top: 8px;
}

#review-box {
    background-color: rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(0, 0, 0, 0.19);
    width: 90%;
    margin-bottom: 20px;
    text-align: left;
}

#reviewer-name {
    font-size: 19px;
    text-decoration: underline;
    font-weight: 800;
    display: inline;
    padding: 0 10px;
}

#content {
    text-align: left;
    padding: 0 20px;
    margin-top: 0;
}

#review-box > img {
    margin: 10px 0 -3 20px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

