* {
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
  }

  body {
    margin: 0;
    height: 100vh;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    background-color: aliceblue;
  }

  nav a {
      align-self: center;
      text-decoration: none;
      text-transform: capitalize;
      padding: 16px 10px;
      color: grey;
      margin: 0;
  }

  #user_nav {
      text-align: right;
      margin-top: -5px;
      width: 70%;
      display: inline;
  }

  i {
      font-size: 16px !important;
      margin: 3px;
  }

  .user_photo {
    display: inline;
    position: absolute;
    margin-left: -50px;
    margin-top: -7px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align:center;
}

#user-ice-creams {
    padding-left: 60px;
}


  nav a:hover {
      color: black;
      background: rgba(50,50,50, 0.3);
  }

  .main-selector {
      position: relative;
      text-align: center;
      height: 400px;
      margin-bottom: 20px;
  }

  .main-selector > img {
      width: 75vw;
      height: 400px;
      object-fit: cover;
      border: 2px solid grey;
      border-radius: 10px;
      object-fit: cover;
  }

  .main-selector > p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 50px;
      text-transform: uppercase;
      color: black;
      background-color: rgb(250,240,240,.7);
  }

  .flavor-selector {
    position: relative;
    text-align: center;
    height: 25vh;
    margin-bottom: 20px;
}

.flavor-selector > img {
    height: 25vh;
    object-fit: cover;
    border: 2px solid grey;
    border-radius: 10px;
    object-fit: cover;
}

.flavor-selector > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    background-color: rgb(250,240,240,.7);
}

.ice-cream {
    text-align: center;
    height: 25vh;
    margin-bottom: 20px;
}

.ice-cream > img {
    height: 25vh;
    object-fit: contain;
}


